.iconiccol {
    color: #FCB944; 
}

.iconiccolback {
    background-color: #FCB944; 
}

.back1 {
    background-color: rgba(0,0,0,0.1);   
}

.back2 {
    background-color: rgba(0,0,0,0.2);   
}

.back3 {
    background-color: rgba(0,0,0,0.3);   
}