header img {
	width: 100%;
}
.aside-article {
	width: 70%;
	float: left;
}
section {
	width: 90%;
	text-transform: full-width;
}
#main_nav {
	margin-top:40px;
	padding: 5px;
}

#main_nav li {
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
}