header img {
	width: 100%;
}
section {
	width: 90%;
	text-align: justify;
}
.aside-article {
	width: 90%;
	margin: auto;
}
#main_nav {
	margin-top:40px;
	padding: 5px;
}

#main_nav li {
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 20px;
}